* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

.home {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px auto auto;
    gap: 40px;
    padding: 10px;
}


/* HEADER CSS------------------------------------------------- */

header {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

header>img {
    height: 100px;
}

header>nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px 60px;
    /* background-color: skyblue; */
}

header>nav select,
nav button {
    background: transparent;
    border: none;
    font-weight: 800;
    outline: none;
}

.reservation-container {
    /* background-color: skyblue; */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reservation-container i {
    font-size: 20px;
}

.reservation-container>.res-btn {
    padding: 5px 25px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
}

.reservation-container>.res-btn:active {
    background-color: brown;
}


/* ---------------------------------------------------------------------- */

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu {
    box-shadow: 0px 0px 3px lightblue;
    background-color: white;
}

.menu .header-item,
.deal-container .deal-header {
    background-color: orangered;
    color: white;
    padding: 12px 10px;
    width: 100%;
}

.menu .items:hover {
    background-color: lightgrey;
    border-left: 2px solid orangered;
}

.deal-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 3px lightblue;
}

.deal-container>.price {
    font-size: 40px;
    font-weight: 700;
}

.deal-container>p {
    font-size: 15px;
    text-align: center;
    padding-bottom: 25px;
}

.deal-container>.size {
    display: flex;
    gap: 10px;
}

.size>span {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size>span:first-child {
    background-color: orangered;
    color: white;
}

.deal-container>img {
    height: 150px;
    border-radius: 10px;
}

.poster {
    background-image: url('https://i.pinimg.com/564x/12/ac/60/12ac606896dfc98f4806b7acababed67.jpg');
    height: 500px;
    width: 100%;
    background-size: cover;
}


/* -------------------------------------------------------------- */

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popular-items {
    color: white;
    text-shadow: 0px 0px 4pax black;
    padding: 10px;
}


/* ---------------------------------------------------------------- */

.hero-container {
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    color: #FFF;
    display: flex;
    gap: 15px;
    padding: 40px 30px;
    background-image: url(./images/pizza-icon/b1.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.hero-container .note {
    background-color: orange;
    padding: 5px 10px;
    text-transform: uppercase;
}

.hero-container h2 {
    font-size: 70px;
    width: 35%;
}

.hero-container p {
    width: 30%;
}

.menu .items {
    padding: 10px;
}

.hero-container button {
    background-color: orangered;
    color: #FFF;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
}


/*  -----------------------------------------------------------------------------------*/

.popular-conatiner {
    height: 400px;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

#p1 {
    grid-row: 1/3;
    background-image: url(./images/pizza-icon/biriyani.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#p2 {
    background-image: url(https://i.pinimg.com/564x/a6/08/dc/a608dca35982e969d82c9fbde3ec52a7.jpg);
    background-position: center;
    background-size: cover;
}

#p3 {
    background-image: url(./images/pizza-icon/leg-piece.jpg);
    background-position: center;
    background-size: cover;
}

.display-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
    gap: 10px;
}

.display-info>.icons>img {
    height: 30px;
}

.display-info>p {
    text-align: center;
}

.display-info>.line {
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
}

.display-info>.note {
    background-color: orange;
    padding: 5px 20px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.display-info>.icons {
    display: flex;
    gap: 20px;
}

.display-info>.icons>img:first-child {
    height: 40px;
    border-bottom: 3px solid orangered;
    padding-bottom: 8px;
}


/* -------------------------------------------------------------------------------------- */

.display-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.display-container>.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 12px;
}

.display-container>.card>img {
    height: 230px;
    filter: drop-shadow(0px 0px 10px black);
}

.display-container>.card>p {
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;
}

.display-container>.card>button {
    background-color: orange;
    color: white;
    padding: 5px 35px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}

.display-container>.card>button:active {
    background-color: orangered;
}


/*  ------------------------------------------------------- */

.footer {
    background-color: #1d1c23;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 10px;
    gap: 40px;
}

.footer-logo {
    flex: 1 1 250px;
}

.footer-logo img {
    width: 190px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: white;
}

.social-icons i {
    margin-right: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
    color: #fff;
}

.social-icons i:hover {
    color: orangered;
}

.footer-links,
.footer-contact {
    flex: 1 1 180px;
}

.footer-links h4,
.footer-contact h4 {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.footer-links ul {
    list-style: none;
}
.footer-links ul li {
    margin-bottom: 8px;
}
.footer-links ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}
.footer-links ul li a:hover {
    color: #fff;
}
.footer-contact p {
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
}
.footer-border {
    border-left: 3px solid #fff;
    padding-left: 30px;
    height: 120px;
}